<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/app.css" type="text/css">
    <link rel="stylesheet" href="/Style.css" type="text/css">  
    <script src="https://moment.github.io/luxon/global/luxon.min.js"></script>
    
</head>
<body>
    <header class="main-head">
        <nav>
            <h1 id="logo">Betcha - Le jeu officiel</h1>
                <ul class="head-ul">
                    <li><button  class="button1"  onclick="location.href='/logout';" >Se déconnecter</button></li>
                    <li><button  class="button1" onclick="location.href='/hub';">Accueil</button></li>
                    <li>
                        <div class="theme-switch-wrapper">
                            <label for="checkbox" class="theme-switch">
                                <input type="checkbox" id="checkbox">
                                <div class="slider round"></div>
                            </label>
                            <em></em>
                        </div>
                    </li>
                </ul>
        </nav>
    </header>
    
  
    <div class="container">
        
        <table>
            <tr>
                    <ul class="j1"></ul>
                    <td ></td>
                    
                    
                    <th>x</th>
                    <th>x</th>
                    <th>x</th>
                    <th>x</th>
                    <th>x</th>
                    <td>L</td>
                    <th>x</th>
                    <th>x</th>
                    <th>x</th>
                    <th>x</th>
                    <th>x</th>
                 
                    
                    <td class="j2"></td>

                </tr>

        </table>
    </div>
</body>
<script src="Joueurs.js"></script>
<script src="/ScriptTheme.js"></script>
</html>